{% extends 'base.html' %}

{% block content %}
<div class="container-fluid col-lg-12 pt-5 pb-5" style="font-family: 'Montserrat';padding:7% 15%;">
    <div class="card card-columns" style="background-color: #eaf0fa;">
        <div class="card-header">
            <h3>POST</h3>
        </div>
        <div class="card-body">
            <form action="post" method="post" style="margin: 0 auto;">
                {% csrf_token %}
                <label for="content" class="form-label">Content</label>
                <input type="text" name="content" class="form-control" placeholder="What's on your mind?"><br>
                <label for="target" class="form-label">Category</label>
                <select name="target" class="form-control">
                    <option value="Atheism">Atheism</option>
                    <option value="Climate Change is a real concern">Climate Change is a real concern</option>
                    <option value="Feminist Movement">Feminist Movement</option>
                    <option value="Hillary Clinton">Hillary Clinton</option>
                    <option value="Legalization of Abortion">Legalization of Abortion</option>
                </select><br>
                <input id="date" type="text" name="date" class="form-control" hidden>
                <!-- <label for="img" class="form-label">Select image:</label>
                <input type="file" name="img" accept="image/*" class="form-control"><br> -->
                <label for="author" class="form-label">Author</label>
                <input type="text" name="author" class="form-control"><br>
                <input type="submit" class="btn btn-secondary"><br>
            </form>          
        </div>
    </div>
</div>  
<script type="text/javascript">
    document.getElementById('date').value = Date();
  </script>
{% endblock %}