{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h4>Maulana Azad National Institute of Technology</h4>
    <img src="{% static 'images/manitlogo.png'%}" alt="">
    <h2>MINOR PROJECT</h2>
</div>   
<div>
    <h5>Dishant Pandauria 	181112226</h5>
    <h5>Ragini Kalvade 	    181112256</h5>
    <h5>Raj Mehroliya       181112244</h5>
    <h5>Vanshika Agrawal 	181112246</h5>
</div> 
<div>
    <h3>Under the Guidance of Dr. Saritha S K</h3>
    <h3>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h3>
</div>
{% endblock %}