{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html style="font-size: 16px;">
    
    <body data-home-page="Page-1.html" data-home-page-title="Page 1" class="u-body"> 
        <section class="u-clearfix u-image u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-1" id="sec-832e" data-image-width="1980" data-image-height="1324">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                
                <div class="u-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-custom-font u-font-montserrat u-text u-text-1">STANCE DETECTION USING SENTIMENT<br>&amp; SARCASM ANALYSIS
                    </h1>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="u-clearfix u-section-2" id="carousel_607d">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                    <div class="u-palette-4-base u-shape u-shape-circle u-shape-1" style="background-color: #99b3e6;"></div>
                    <div alt="" class="u-border-17 u-border-grey-75 u-image u-image-circle u-image-1" data-image-width="326" data-image-height="155"></div>
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                    <h6 class="u-custom-font u-font-montserrat u-text u-text-1">Stance Detection with Sentiment and Sarcasm Detection</h6>
                    <h1 class="u-text u-text-2">OUR PROJECT</h1><br>
                    <h4 class="u-custom-font u-font-raleway u-text u-text-3">We have proposed a model for the detection of stance of the target. Our model combines sarcasm detection, sentiment ananlysis and stance detection techniques in a multilevel framework to provide a more accurate result of the stance on the target.&nbsp;</h4>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="u-clearfix u-palette-4-base u-section-3" id="carousel_79bd" style="background-color: #99b3e6;">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-22 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                    <div class="u-shape u-shape-svg u-text-white u-shape-1">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f73"></use></svg>
                        <svg class="u-svg-content" id="svg-6f73" style="enable-background:new 0 0 160 50;"><path d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
        c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
        l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
        c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
        c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
        c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
        c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
        C11.2,30.2,20.6,29.9,32.2,38z"></path></svg>
                    </div>
                    <h1 class="u-text u-text-1">Sarcasm Detection Model</h1>
                    <p class="u-text u-text-2">Sarcasm detection is a crucial step to stance detection, considering the prevalence and challenges of sarcasm in sentiment-bearing text. The project has implemented the use of Support Vector Machines to detect sarcasm in tweets i.e, the Linear Support Vector Classifier (LSVC). The objective of the support vector machine algorithm is to find a hyperplane in an N-dimensional space(N - the number of features) that distinctly classifies the data points.</p>
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-2" src="">
                    <div class="u-align-center u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="720"><img style ="width: 400px; height: 350px;"src= "{%static 'images/sarcasm.png' %}"></div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-2">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f73"></use></svg>
                        <svg class="u-svg-content" id="svg-6f73" style="enable-background:new 0 0 160 50;"><path d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
        c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
        l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
        c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
        c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
        c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
        c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
        C11.2,30.2,20.6,29.9,32.2,38z"></path></svg>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="u-clearfix u-section-4" id="carousel_f056">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-align-left u-text u-text-1"><b>Stance Detection Model</b>
                    </h2>
                    <p class="u-align-justify u-text u-text-2">Stance detection is the task of automatically determining from text whether the author of the text is in favor of, against, or neutral towards a proposition or target.</p>
                    </div>
                </div>
                <div class="u-align-justify u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-bottom u-container-layout-2">
                    <p class="u-text u-text-3">The model used here is Multinomial Logistic regression. It is a supervised learning classification algorithm used to predict the probability of a target variable. It is a classification method that generalizes logistic regression to multiclass problems, i.e. with more than two possible discrete outcomes(here, 3).</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="u-align-center u-clearfix u-palette-4-base u-section-5" id="carousel_3c49" style="background-color: #99b3e6;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-26 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-text u-text-1">Sentiment&nbsp;<br>Analysis&nbsp;<br>Model
                    </h1>
                    <p class="u-text u-text-2">A person may express the same stance towards a target by using negative or positive language. Therefore, the sentiment of a tweet as a factor is considered. The model used here is Binomial Logistic regression. It is a supervised learning classification algorithm used to predict the probability of a target variable. The nature of target or dependent variable is dichotomous, which means there would be only two possible classes.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-right-cell u-size-34 u-image-1" data-image-width="208" data-image-height="544">
                    <img src= "{%static 'images/sentiment1.png' %}">
                    <div class="u-container-layout u-container-layout-2"></div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    

    </body>
    </html>
{% endblock %}